* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  resize: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-white: hsl(0, 5%, 100%);
  --color-light: hsl(0, 0%, 92%);
  --color-dark: hsl(270, 5%, 44%);
  --color-black: hsl(270, 5%, 15%);
  --color-bg: hsl(210, 17%, 98%);
  --color-bg-1: hsl(234 80% 91%);
  --color-primary: hsl(235, 81%, 77%);
  --color-secondary: 	hsl(244, 74%, 61%);

  --box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);
  /*CONTAINER VARIABLES */
  --width-lg: 86%;
  --width-md: 90%;
  
  /* BORDER */
  --border-1: 1px solid var(--color-light);
  --border-2: 2px solid var(--color-light);
  --border-3: 4px solid var(--color-light);
  --border-radius: 0.3rem;
  --border-radius-1: 0.5rem;
  --border-radius-2: 1.2rem;
  --border-radius-3: 2rem;

  --transition: all .4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: .9rem;
  background: var(--color-white);
  color: var(--color-black);
  line-height: 1.6;
  /* overflow-x: hidden; */
}
.container{
  width: var(--width-lg);
  margin-inline: auto;
  max-width: 1920px;
}
section{
  padding: 7rem 0;
  transition: var(--transition);
}

a{
  color: var(--color-black);
  transition: var(--transition);
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.1rem;
}
h5{
  font-size: 0.95rem;
}
h5{
  font-size: 0.8rem;
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ________________TITLE STYLING________________ */

.title {
  text-align: center;
  margin: 0 auto 6rem;
}

.title>h2 {
  display: inline-block;
  font-size: 1.8rem;
  position: relative;
}
.title h2::before{
  content: '';
  position: absolute;
  top: 3rem;
  left: 0%;
  width: 100%;
  height: .1rem;
  background: var(--color-primary);
}
.title h2::after{
  content: '';
  position: absolute;
  top: 2.77rem;
  left: 50%;
  width: 10%;
  height: .6rem;
  border-radius: var(--border-radius-1);
  transform: translateX(-50%);
  background: var(--color-primary);
}

/* ________________BUTTON STYLING________________ */

.btn {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-primary);
  color: var(--color-white);
  padding: .9rem 2.2rem;
  border-radius: var(--border-radius);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: var(--box-shadow);
  background: var(--color-secondary);
}

/* ________________RESET SCROLLBAR_______________ */

::-webkit-scrollbar {
  height: .5rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(244, 74%, 68%, 0.8);
  border-radius: var(--border-radius-1);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  border-radius: var(--border-radius-1);
}


/* _______________RESPNSIVE/TABLET________________*/

@media screen and (max-width: 1024px){
  body{
    font-size: 1rem;
  }
  .container{
    width: var(--width-md);
  }
  section{
    padding: 8rem 0;
  }
  .title{
    width: 70%;
    margin: 0 auto 5rem;
  }
  h1{
    font-size: 2rem;
  }

}

/* =================RESPNSIVE/PHONE==================== */

@media screen and (max-width: 600px){
 
  h1{
    font-size: 2.4rem;
  }
  h2{
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.4rem;
  }
  h4{
    font-size: 1rem;
  }
  .title{
    width: var(--width-md);
  }
  section{
    padding: 6rem 0;
  }

}